@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');


* {
  box-sizing: border-box;
}
.row {
  /*popracowac nad wysokością, inspiro*/
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  gap: 2em;
  box-sizing: border-box;
  align-items: normal!important;

}

.column {
  width: 50%;
  align-self: center;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  flex: 50%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.big-image {
  height: 95vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('main.jpg');
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.38);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 65px;
  letter-spacing: 2px;
  margin: 0 0 5px;
}

.overlay p {
  margin: 0;
  font-size: 26px;
}

.motto {
  text-align: center;
  margin: 60px auto;
  max-width: 1200px;
}
.motto h2{

  margin-top: 0;
  color: #222;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
}
.motto p{
  color: #444;
  font-family: 'Raleway',sans-serif;
   font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
  -webkit-font-smoothing: antialiased
}


.home1 {
  width: 100vw;
  max-width: 100vw;
  background-color: #e5e9ec;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  padding-left: 0!important;
  padding-right: 0!important;
}
#home1foto{
  max-width: 100%;
    height: auto;
}
.home1 h2,.home2 h2 { color: #000000; font-family: 'Raleway',sans-serif; font-size: 35px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center; }


.home1 p,.home2 p { color: #000000; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }

.home2 {
  width: 100vw;
  max-width: 100vw;
  background-color: #ffffff;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  padding-left: 0!important;
  padding-right: 0!important;
}

/*PARALLAX*/
.margin {
	margin:  0;
}
.parallax {
	background: url("parallax.jpg") repeat fixed 100%;
	text-align: center;
}
.parallax-inner {
	padding-top: 7%;
	padding-bottom: 7%;
}
/*--- End Parallax Style --*/
.parallax-inner h1 {
	text-align: center;
	font-size: 500%;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 3px;
}	


/*Navigation*/
#logo{
  display: block;
  transition: 1s;
  height: auto;
  width:200px;
}

nav {
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  transition:  1s;
  z-index: 100;
  width: 100%;
}

span {
  font-size: 24px;
  margin-left: 10px;
}

.menu {
  margin-top: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 15px;
}
.menu li a{
  font-family: 'Raleway',sans-serif;
  text-decoration: none;
  color: black;
}

/**
* Scrolling CSS
*/
nav.scroll {
  padding: 15px;
  transition: padding 0.6s ease-out ;
}
nav.scroll.mobile {
  padding: 30px;
  transition: padding 0.6s ease-out ;
}

footer{
  text-align: center;
  background-color: #1a1818;
  height: 50vh;
  width: 100%;

}
.kontakt-list{
  margin-top: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.kontakt-list li,.kontakt-list li a{
  margin-bottom: 1em;
  text-decoration:none;
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;

}
.galeriabtn{
    font-family: Montserrat,sans-serif;
    cursor: pointer;
    transition: all .5s ease;
    color: #fff;
    border: 2px solid;
    padding: 0.667em 1.333em;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 1.125em;
    letter-spacing: 1px;
    background-color : transparent;
    outline: none;
}
.galeriabtn:hover{
  background-color: 	#4de4ff;
  border-color: 	#4de4ff;
}
footer h2{
  color: white;
  font-size: 36px;
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: 0;
}
/*MOBILE*/
#menubtn{
  padding-top: 6px
  ;
  display: none;
  cursor: pointer;
  margin: 10px;
  right:30px;
  position: absolute;
  z-index: 101;

}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu{
  display:none;
}
.menu__box {
  flex-grow: 1;
  flex-direction: column;
  align-items:center;
  width:100%;
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__box.open {
  right: 0 !important;
}

@media only screen and (max-width: 600px) {
  #menu1{
    display: none;
  }
  .menu__box{
    display: flex;
  }
 
  .mobile-menu {
    display: block;
    float: right;
  }
  #menubtn{
    display: inline-block;
  }
  #logo{
    display: none;
  }
  nav{
    padding-bottom: 43px;
  }
  .row {
    flex-wrap: wrap!important;
    
  }
}
